<!DOCTYPE html>
<html>
  <head>
    <title>Vs Code</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
    <div id="main">
      <div id="header">
        <div id="outer-nav">
          <img src="../images/icons8-cancel-32.png" alt="">
          <p>File</p>
          <p>Edit</p>
          <p>Selection</p>
          <p>View</p>
          <p>Go</p>
          <p>Run</p>
          <p>Terminal</p>
          <p>Help</p>
        </div>
        <div id="desc">
          <div class="arrows">
            <i class="ri-arrow-left-line"></i>
            <i class="ri-arrow-right-line"></i>
          </div>
          <div id="cmds"><p><i class="ri-search-2-line"></i> <%= rootName %></p></div>
        </div>
        <div id="size">
          <p><i class="ri-subtract-fill"></i></p>
          <p><i class="ri-checkbox-blank-line"></i></p>
          <p><i class="ri-close-fill"></i></p>
        </div>
      </div>
      <div id="hero">
          <div id="left">
            <div id="nav">
                <div id="up-nav">    
                  <i class="ri-file-copy-fill"></i>
                  <i class="ri-search-line"></i>
                  <i class="ri-git-branch-line"></i>
                  <i class="ri-play-mini-fill"></i>
                  <i class="ri-add-box-line"></i>
                </div>
                <div id="low-nav">
                  <i class="ri-account-circle-line"></i>
                  <i class="ri-settings-5-line"></i>
                </div>
            </div>
            <div id="folder">
              <div class="name">
              <h4><i class="ri-arrow-down-s-line"></i><%= rootName %></h4>
              <div class="folicons">
                <i id="addfile" class="ri-file-add-line"></i>
                <i id="addfolder" class="ri-folder-add-line"></i>
                <a href="/"><i class="ri-refresh-line"></i></a>
              </div>
              </div>
              <form action="/createfile">
                <input type="text" name="inputname" class="inpname" id="createfile">
              </form>
              <form action="/createfolder">
                <input type="text" name="inputname" class="inpname" id="createfolder">
              </form>
              <div id="files">
                <% files.forEach(element => { %>
                  <div class="file">
                    <a href="/openfile/<%= element.name %>">
                    <%  if (element.isDirectory()) { %>
                        <i class="ri-folder-line">
                    <%  } else { %>
                        <i class="ri-file-line">
                    <%  } %>
                  </i> <%= element.name %></a>
                    <div class="ficons">
                      <i data-val="<%= element.name %>" id="rename" class="ri-pencil-line"></i>
                      <%  if (element.isDirectory()) { %>
                        <a href="/deletefolder/<%= element.name %>">
                          <i class="ri-delete-bin-line"></i>
                        </a>
                      <%  } else { %>
                        <a href="/deletefile/<%= element.name %>">
                          <i class="ri-delete-bin-line"></i>
                        </a>
                      <%  } %>
                    </div>
                  </div>
                <% }); %>
              </div>
            </div>
          </div>
          <div id="right">
            <div id="rheader">
              <div id="opened">
                <p>
                  <%= filename%>
                </p>
                <a href="/"><i class="ri-close-line"></i></a>
              </div>
            </div>
            <form action="/save/<%= filename%>">
              <textarea name="content" type="submit" id="content"><%= data%></textarea>
            </form>
          </div>
      </div>
      <div id="popup">
        <div id="overlay">
          <p>Rename</p>
          <form action="">
            <input id="change-name-inp" name="newname" type="text" value="">
            <input type="submit">
          </form>
        </div>
      </div>
      <div id="footer">
        <div id="sicons">
          <i id="green" class="ri-code-s-slash-fill"></i>
          <div id="alerts">
            <p><i class="ri-close-circle-line"></i> 0</p>
            <p><i class="ri-alert-line"></i> 0</p>
          </div>
          <p><i class="ri-base-station-line"></i> 0</p>
        </div>
        <div id="finfo">
          <div id="pos"><p>Ln 54, Col 39</p></div>
          <p>Spaces: 2</p>
          <p>UTF-8</p>
          <p>LF</p>
          <p>HTML</p>
          <p><i class="ri-prohibited-line"></i> Port : 3000</p>
          <i class="ri-notification-2-line"></i>
        </div>
      </div>
    </div>
    <script src="../javascripts/lib/ace.js"></script>
    <script src="../javascripts/lib/theme-monokai.js"></script>
    <script src="../javascripts/create.js"></script>
    <script src="../javascripts/rename.js"></script>
  </body>
</html>